/* styles.css */

/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f2f2f2;
  }
  
  /* Estilos para el encabezado */
  h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  /* Estilos para los botones */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary {
    background-color: #4CAF50;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #45a049;
  }
  
  .btn-secondary {
    background-color: #ccc;
    color: #333;
  }
  
  .btn-secondary:hover {
    background-color: #999;
  }
  
  /* Estilos para la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  /* Estilos para los enlaces */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

 /* Estilos para navbar */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b3a0e7;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: #ddd;
  }
  
  body {
    margin: 20px;
  }
  
 
